<div>
  <div class="row">
    <div class="col-lg-4">
      <div class="home-card"></div>
    </div>
    <div class="col-lg-4">
      <div class="home-card"></div>
    </div>
    <div class="col-lg-4">
      <div class="home-card"></div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-4">
      <div class="home-card"></div>
    </div>
    <div class="col-lg-4">
      <div class="home-card"></div>
    </div>
  </div>

</div>