<div>
	<div class="row">
		<div class="col-lg-2 col-md-2 col-sm-2">
			<a href="#" class="thumbnail">
				<img src="img/logo.gif" alt="...">
			</a>
		</div>
		
		<div class="col-lg-10 col-md-10 col-sm-10"">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">About Cherokee Crossfit</h3>
				</div>
				<div class="panel-body">
					At Cherokee Crossfit we live, breath and bleed crossfit. Come join us!
					We have a complete gym and a amazing box. Come join the fun and make new friends.
					Be sure to check out our <a class="initialism" href="">gallery</a>! 
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-lg-12">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Workout of the day</h3>
				</div>
				<div class="panel-body">
					Blah blah blah...
				</div>
			</div>
		</div>
	</div>
	
	<div class="row">
		<div class="col-lg-12">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Thursday, May 26 2016 - Results</h3>
				</div>
				<div class="panel-body">
					<table class="table table-striped table-hover">
						<thead>
							<tr>
								<th>Class</th>
								<th>Athlete</th>
								<th>Time</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>Alpha</td>
								<td>Sue Hawkins</td>
								<td>21.25</td>
							</tr>
							<tr>
								<td>Alpha</td>
								<td>Joe Blow</td>
								<td>22.16</td>
							</tr>
							<tr>
								<td>Alpha</td>
								<td>Jane Doe</td>
								<td>25.36</td>
							</tr>
							<tr>
								<td>Bravo</td>
								<td>Sue Hawkins</td>
								<td>21.25</td>
							</tr>
							<tr>
								<td>Bravo</td>
								<td>Joe Blow</td>
								<td>22.16</td>
							</tr>
							<tr>
								<td>Bravo</td>
								<td>Jane Doe</td>
								<td>25.36</td>
							</tr>
							<tr>
								<td>Charlie</td>
								<td>Sue Hawkins</td>
								<td>21.25</td>
							</tr>
							<tr>
								<td>Charlie</td>
								<td>Joe Blow</td>
								<td>22.16</td>
							</tr>
							<tr>
								<td>Charlie</td>
								<td>Jane Doe</td>
								<td>25.36</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="panel-footer">
					<nav>
						<ul class="pager">
							<li><a href="#">Previous</a></li>
							<li class="disabled"><a href="#">Next</a></li>
						</ul>
					</nav>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-lg-12">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Check us out!</h3>
				</div>
				<div class="panel-body text-center">
					<ul class="list-inline">
						<li><i class="fa fa-2x fa-youtube"></i></li>
						<li><i class="fa fa-2x fa-facebook"></i></li>
						<li><i class="fa fa-2x fa-twitter"></i></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	
	<!-- Needed to clear the navbar at footer -->
	<div class="row">
		<div class="col-lg-12">
			<div>&nbsp;</div>
			<div>&nbsp;</div>
		</div>
	</div>

		<!--
			<div class="col-xs-6 col-md-3">
    		<a href="#" class="thumbnail">
      		<img src="img/SLIDE1-7529.gif" alt="...">
    		</a>
  		</div>
			<div class="col-xs-6 col-md-3">
    		<a href="#" class="thumbnail">
      		<img src="img/SLIDE2-3020.gif" alt="...">
    		</a>
  		</div>
			<div class="col-xs-6 col-md-3">
    		<a href="#" class="thumbnail">
      		<img src="/img/SLIDE3-9588.gif" alt="...">
    		</a>
  		</div>
			<div class="col-xs-6 col-md-3">
    		<a href="#" class="thumbnail">
      		<img src="/img/SLIDE4-5612.gif" alt="...">
    		</a>
  		</div>
			<div class="col-xs-6 col-md-3">
    		<a href="#" class="thumbnail">
      		<img src="/img/SLIDE5-4896.gif" alt="...">
    		</a>
  		</div>
			<div class="col-xs-6 col-md-3">
    		<a href="#" class="thumbnail">
      		<img src="/img/SLIDE6-3260.gif" alt="...">
    		</a>
  		</div>
			<div class="col-xs-6 col-md-3">
    		<a href="#" class="thumbnail">
      		<img src="/img/SLIDE8-7199.gif" alt="...">
    		</a>
  		</div>
		</div>
	</div>
	-->
</div>