<div>
  <section>Projects</section>  
  <div>
    <div class="row">
      <div class="col-lg-3">
        <p>Add</p>
      </div>
      <div class="col-lg-3" data-ng-repeat="p in projects track by $index">
        <div class="card">
          <ul class="">
            <li>{{p.name | uppercase}}</li>
            <li>{{p.contact}}</li>
            <li>{{p.phone}}</li>
            <li>IN PROGRESS</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>