<div>
  <form>
    <div class="row">
      <div class="col-lg-3">
        <div class="form-group">
          <label>Project Name</label>
          <input type="text" class="form-control" placeholder="project name">
        </div>
      </div>
      <div class="col-lg-3">
        <div class="form-group">
          <label>Address</label>
          <input type="text" class="form-control" placeholder="address">
        </div>
      </div>
    </div>
  </form>
</div>