<div>
  <section>Suppliers</section>
  <table class="table table-hover">
    <thead>
        <tr>
          <th>Name</th>
          <th>Specialty</th>
          <th>Status</th>
          <th>Phone</th>
        </tr>
    </thead>
    <tbody>
      <tr>
          <td><a href="">Roof Dr.</a></td>
          <td>Roofing</td>
          <td>Active</td>
          <td>555-1212</td>
      </tr>
      <tr>
          <td><a href="">Bill's Concrete</a></td>
          <td>Concrete</td>
          <td>Active</td>
          <td>555-1212</td>
      </tr>
    </tbody>
  </table>
</div>