@import "../../vendor/bootstrap-3.3.6/less/variables.less";

.calendar {
  .calendar-year {
    width: 100%;
    text-align: center;
  }

  .day-title {
    display: inline-block;
    width: 80px;
    text-align: center;
    border-bottom: 1px solid #DDDDDD;
  }

  .day {
    display: inline-block;
    width: 80px;
    height: 80px;
    border-top: 1px solid #DDDDDD;
    border-right: 1px solid #DDDDDD;
    border-bottom: 1px solid #DDDDDD;
    text-align: left;
    padding: 2px;
    font-size: 9px;
  }

  .week {
    margin-top: -4px;

    .day:first-child {
      border-left: 1px solid #DDDDDD;
      background-color: #eeeeee;
    }

    .day:last-child {
      background-color: #eeeeee;
    }

    .day:hover {
      background-color: #fffbe3;
    }

    .day:empty {
      background-color: #eeeeee;
    }

    .today {
      background-color: #b9def0 !important;
    }
  }

  .year-control {
    width: 100%;
    text-align: center;

    .previous,
    .next {
      width: 25px;
      border-radius: 2px;
    }

    .previous:hover,
    .next:hover {
      background-color: #DDDDDD;
      cursor: pointer;
    }
  }

  .month-year {
    width: 150px;
    text-align: center;
  }

  .section {
    width: 100%;
    text-align: center;
  }
}

@media(max-width: @screen-md) {
  .calendar {

    .day {
      width: 60px;
      height: 60px;
    }

    .day-title {
      font-size: 10px;
      width: 60px;
    }
  }
}

@media(max-width: @screen-sm) {
  .calendar {

    .day {
      width: 40px;
      height: 40px;
    }

    .day-title {
      font-size: 8px;
      width: 40px;
    }
  }
}

@media(max-width: @screen-xs) {
  .calendar {

    .day {
      width: 40px;
      height: 40px;
    }

    .day-title {
      font-size: 8px;
      width: 40px;
    }
  }
}
